/* ````````````````` Палитра стилей шрифтов (index.html & portfolio.html ) `````````````````` */

/* `````````````````````````````` index.html ``````````````````````````````*/
/* ````````````````````````` index.html (header)`````````````````````````*/
.index-header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.index-header-studio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.index-header-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.index-header-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.index-header-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}

.index-header-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}
/* ~~~~~~~~~~~~~~~~~~~ К О Н Е Ц  index.html (header) ~~~~~~~~~~~~~~~~~~~*/





/* ````````````````````````` index.html (footer)`````````````````````````*/
.index-footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}

.index-footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71x;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.index-footer-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.index-footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
/* ~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц  index.html (footer) ~~~~~~~~~~~~~~~~~~~~*/






/* ````````````````````````` index.html (main-hero)`````````````````````````*/
.hero-titleh1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88x;
   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}
/* ~~~~~~~~~~~~~~~~~ К О Н Е Ц  index.html (main-hero) ~~~~~~~~~~~~~~~~~*/





/* ``````````````````````` index.html (main-features)```````````````````````*/
.features-titleh2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.features-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;
}
/* ~~~~~~~~~~~~~~~~~ К О Н Е Ц  index.html (main-features) ~~~~~~~~~~~~~~~~~*/





/* ``````````````````````` index.html (main-activities)```````````````````````*/
.activities-titleh2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
/* ~~~~~~~~~~~~~~~~~ К О Н Е Ц index.html (main-activities) ~~~~~~~~~~~~~~~~~*/



/* ``````````````````````` index.html (main-team) ```````````````````````*/
.team-titleh2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.team-titleh3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.team-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #757575;
}
/* ~~~~~~~~~~~~~~~~~ К О Н Е Ц index.html (main-team) ~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц index.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц index.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц index.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/





/* ````````````````````````````` portfolio.html `````````````````````````````*/
/* ```````````````````````` portfolio.html (header)````````````````````````*/
.portfolio-header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.portfolio-header-studio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.portfolio-header-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.portfolio-header-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.portfolio-header-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}

.portfolio-header-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}
/* ~~~~~~~~~~~~~~~~~~~ К О Н Е Ц  portfolio.html (header) ~~~~~~~~~~~~~~~~~~~*/



/* ```````````````````````` portfolio.html (footer)````````````````````````*/
.portfolio-footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.portfolio-footer-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71x;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.portfolio-footer-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.portfolio-footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
/* ~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц  portfolio.html (footer) ~~~~~~~~~~~~~~~~~~~~*/





/* ``````````````````````` portfolio.html (hero) ```````````````````````*/
.filters {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.projects-titleh2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    
    color: #212121;
}

.projects-titles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
     letter-spacing: 0.03em;
    
    color: #757575;
}

/* ~~~~~~~~~~~~~~~~~ К О Н Е Ц portfolio.html (hero) ~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц portfolio.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц portfolio.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ К О Н Е Ц portfolio.html  ~~~~~~~~~~~~~~~~~~~~~~~~~~*/











/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Стили из Figma ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Игорь Демьяненко */

position: absolute;
width: 151px;
height: 19px;
left: 275px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;

/* ************************************************************** */

/* Главная */

position: relative;
width: 1600px;
height: 2349px;

background: #FFFFFF;


/* Верхняя линия */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;



/* top line bg */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Line  */

position: absolute;
width: 1600px;
height: 0px;
left: 0px;
top: 80px;

border: 1px solid #ECECEC;


/* WebStudio */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196F3;



/* Menu Nav */

position: absolute;
width: 294px;
height: 16px;
left: 453px;
top: 32px;



/* Студия */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;



/* Активная ссылка */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;



/* Студия */

position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;



/* Портфолио */

position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;



/* Контакты */

position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;



/* E-mail */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;



/* info@devstudio.com */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;



/* Hover */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;



/* info@devstudio.com */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;



/* Tel */

position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;



/* +38 096 111 11 11 */

position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;



/* Шапка */

position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;



/* Bg */

position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;


/* Эффективные решения для вашего бизнеса */

position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;



/* Button */

position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;



/* bg */

position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;


/* Заказать услугу */

position: absolute;
width: 136px;
height: 30px;
left: 732px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;



/* Button (Hover) */

position: absolute;
visibility: hidden;
width: 200px;
height: 50px;
left: 700px;
top: 430px;



/* bg */

position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;

background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;


/* Заказать услугу */

position: absolute;
width: 136px;
height: 30px;
left: 732px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;



/* Особенности */

position: absolute;
width: 1170px;
height: 101px;
left: 215px;
top: 774px;



/* Feature 1 */

position: absolute;
width: 270px;
height: 101px;
left: 215px;
top: 774px;



/* Внимание к деталям */

position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;



/* Идейные соображения, а также начало повседневной работы по формированию позиции. */

position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;



/* Feature 2 */

position: absolute;
width: 270px;
height: 101px;
left: 515px;
top: 774px;



/* Пунктуальность */

position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;



/* Задача организации, в особенности же рамки и место обучения кадров влечет за собой. */

position: absolute;
width: 270px;
height: 75px;
left: 515px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;



/* Feature 3 */

position: absolute;
width: 270px;
height: 101px;
left: 815px;
top: 774px;



/* Планирование */

position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;



/* Равным образом консультация с широким активом в значительной степени обуславливает. */

position: absolute;
width: 270px;
height: 75px;
left: 815px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;



/* Feature 4 */

position: absolute;
width: 270px;
height: 101px;
left: 1115px;
top: 774px;



/* Современные технологии */

position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;



/* Значимость этих проблем настолько очевидна, что реализация плановых заданий. */

position: absolute;
width: 270px;
height: 75px;
left: 1115px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;



/* Чем мы занимаемся */

position: absolute;
width: 1170px;
height: 386px;
left: 215px;
top: 969px;



/* box 1 */

position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;



/* img */

position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1061px;

background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;


/* box 2 */

position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1061px;



/* img */

position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1061px;

background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);


/* box 3 */

position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1061px;



/* img */

position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1061px;

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);


/* Чем мы занимаемся */

position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 969px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;



/* Наша команда */

position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;



/* Section bg */

position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;


/* team  */

position: absolute;
width: 1170px;
height: 368px;
left: 215px;
top: 1635px;



/* team card 1 */

position: absolute;
width: 270px;
height: 368px;
left: 215px;
top: 1635px;



/* card bg */

position: absolute;
width: 270px;
height: 368px;
left: 215px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;


/* img */

position: absolute;
width: 270px;
height: 260px;
left: 215px;
top: 1635px;

background: url(4853.jpg);
border-radius: 0px;


/* Игорь Демьяненко */

position: absolute;
width: 151px;
height: 19px;
left: 275px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;



/* Product Designer */

position: absolute;
width: 130px;
height: 19px;
left: 285px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;



/* team card 2 */

position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1635px;



/* card bg */

position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;


/* img */

position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1635px;

background: url(5844.jpg);
border-radius: 0px;


/* Ольга Репина */

position: absolute;
width: 109px;
height: 19px;
left: 596px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;



/* Frontend Developer */

position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;



/* team card 3 */

position: absolute;
width: 270px;
height: 368px;
left: 815px;
top: 1635px;



/* card bg */

position: absolute;
width: 270px;
height: 368px;
left: 815px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;


/* img */

position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1635px;

background: url(16166.jpg);
border-radius: 0px;


/* Николай Тарасов */

position: absolute;
width: 137px;
height: 19px;
left: 882px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;



/* Marketing */

position: absolute;
width: 76px;
height: 19px;
left: 912px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;



/* team card 4 */

position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1635px;



/* card bg */

position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1635px;

background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;


/* img */

position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1635px;

background: url(2968.jpg);
border-radius: 0px;


/* Михаил Ермаков */

position: absolute;
width: 134px;
height: 19px;
left: 1183px;
top: 1925px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;



/* UI Designer */

position: absolute;
width: 87px;
height: 19px;
left: 1207px;
top: 1954px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;



/* Наша команда */

position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1543px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;



/* Подвал */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;



/* Footer bg */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;


/* WebStudio */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2157px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196F3;



/* Address */

position: absolute;
width: 231px;
height: 81px;
left: 215px;
top: 2208px;



/* г. Киев, пр-т Леси Украинки, 26 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2208px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #FFFFFF;



/* info@example.com */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2238px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);



/* +38 099 111 11 11 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2268px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);



/* (указатели) */

position: absolute;
width: 643px;
height: 2788px;
left: 480px;
top: 49px;



/* finger 1 */

position: absolute;
width: 16px;
height: 16px;
left: 480px;
top: 49px;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #000000;


/* finger 2 */

position: absolute;
width: 16px;
height: 16px;
left: 1107px;
top: 51px;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #000000;


/* finger 3 */

position: absolute;
width: 16px;
height: 16px;
left: 585px;
top: 2821px;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;

background: #FFFFFF;