/* ================== ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№ (section-main-page)================== */

.section-main-page {
    /* display: flex; */
    /* padding-top: 10px; */

    /* text-align: center; */

    background-color: rgb(255, 219, 151);

    /* background-image: url(../img/Sunset_1.jpg); */
    /* background-image: url("https://picsum.photos/640/480"); */
    background-image: url("https://cdn.pixabay.com/photo/2020/10/07/10/51/mountains-5634817_1280.jpg");

    background-repeat: no-repeat;

    /* background-position: 50% 50%; */
    background-position: center;

    /* background-size: auto; */
    /* background-size: 1100px; */
    /* background-size: contain; */
    background-size: cover;

    background-attachment: fixed;

    /* opacity: 0.7; */


/* ++++++++++++++ из конспекта ++++++++++++++++ */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */

    /*  Comment out this line  */
    /* background-attachment: fixed; */
/* +++++++++++++++++++++++++++++++++++++++++++ */

}
/* ______________________  К О Н Е Ц ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№   ___________________ */



/* ================= Стилизаци LOGO в этой страницы module_№-№ (section-main-page) ================= */
/* ================ Сдвиг LOGO вправо этой страницы module_№-№ (section-main-page) ================ */
.logo-main-page {
    display: flex;

    width: 300px;
    height: 300px;

    position: fixed;
    top: 10px;
    right: 40px;
    /* left: 30px; */

    /* margin-top: 20px; ---- */
    /* margin-left: 30px; */

    justify-content: flex-end;
    align-items: flex-end;

    /* padding: 0.5em; */
    /* padding-left: 50%; */

    /* outline: 2px solid tomato; */
}

.logo-main-page img {
    /* display: block; */
    height: 90%;
    width: 90%;
    padding: 14%;

    border: 2px solid var(--color-light);
    border-radius: 20%;

    /* box-shadow: inset 0 0 30px 15px rgba(0, 0, 0, 0.3); */
    
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.452),
                6px 6px 6px rgba(255, 254, 254, 0.452); */


    /* margin-left: auto; */

    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: scale-down; */
    /* object-fit: none; */

    /* object-position: left bottom; */

    /* outline: 2px solid rgb(25, 0, 255); */
}


.logo-main-page img:hover,
.logo-main-page img:focus {

    border: 3px solid rgb(255, 0, 0);
    background-color: #1ac7e6;
    color: rgb(255, 0, 0);

    opacity: 0.5;

    /* transform: scale(1.1); */
    transform: rotate(360deg);

    /* transition: scale 500ms linear, transform 500ms ease-in-out 500ms; */
    transition-duration: 1500ms;
}

.logo-main-page img:active {
    transform: scale(1.1);
    transition-duration: 200ms;

    border: 3px solid rgb(29, 90, 10);
    background-color: #5be61a;
    color: rgb(38, 78, 5);
}

/* .page {
    position: fixed;
    top: 10px;
    right: 40px
} */
/* __________________  К О Н Е Ц ССдвиг LOGO вправо этой страницы module_№-№ _______________ */


/* ________________________________________________________________________________________ */




/* ================= из К О Н С П Е К Т А -->  Модуль 4 - Занятие 7 ================= */

/* ================ Свойство background-image =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212121;
} */

.tile1 {
    padding: 10px;
    text-align: center;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;

    background-color: tomato;
}

.tile-set1 {
    display: flex;
    justify-content: center;
}

.tile1:not(:last-child) {
    margin-right: 10px;
}

.icon1 {
    display: inline-flex;
    height: 164px;
    width: 164px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    outline: 2px solid green;
}

.icon1.with-bg1 {
    background-color: #ff9800;
}

.icon1.with-icon1 {
    background-image: url("https://cdn2.iconfinder.com/data/icons/avatars-60/5985/34-Father-512.png");
}


/* ================ Свойство background-repeat =============== */
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
} */

/* .container2 {
    max-width: 960px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid tomato;
} */

.tile-set2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    margin-left: -40px;
    
    outline: 2px solid blue;
}

.tile2 {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    height: 120px;
    flex-basis: calc(100% / 2 - 40px);
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
    background-color: #fff;

    background-image: url("https://cdn0.iconfinder.com/data/icons/essentials-volume-6/128/apple-512.png");
    background-size: 40px;
}

/* .tile2::before {
    position: absolute;
    top: -32px;
    width: 100%;
    content: "";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.no-repeat2 {
    background-repeat: no-repeat;
}

.no-repeat2::before {
    content: "no-repeat";
    font-family: monospace;
}

.repeat-x2 {
    background-repeat: repeat-x;
}

.repeat-x2::before {
    content: "repeat-x";
}

.repeat-y2 {
    background-repeat: repeat-y;
}

.repeat-y2::before {
    content: "repeat-y";
}

.repeat2 {
    background-repeat: repeat;
}

.repeat2::before {
    content: "repeat";
} */


/* ================ Свойство background-attachment =============== */
/* body {
    margin: 0;
} */

.container3 {
    padding: 40px;
    background-image: url("https://cdn.pixabay.com/photo/2020/10/07/10/51/mountains-5634817_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*  Comment out this line  */
    background-attachment: fixed;
}

.box3 {
    height: 300px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    outline: 2px solid tomato;
}

.box3:not(:last-child) {
    margin-bottom: 20px;
}

.box3:nth-child(1) {
    background-color: #2196f3;
}

.box3:nth-child(2) {
    background-color: #4caf50;
}

.box3:nth-child(3) {
    background-color: #ff9800;
}

.box3:nth-child(4) {
    background-color: #e91e63;
}

/* ================ Многослойный фон =============== */
/* body {
    margin: 0;
} */

.canvas4 {
    max-width: 1000px;
    height: 400px;

    background-image: 
        url("https://cdn-icons-png.flaticon.com/512/361/361678.png"),
        url("https://cdn-icons-png.flaticon.com/512/4206/4206277.png"),
        url("https://cdn-icons-png.flaticon.com/512/814/814513.png"), 
        url('https://tlgrm.ru/_/stickers/e3a/876/e3a87689-707f-3495-b94a-8ee96e2538e5/256/61.webp'),
        url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");

    background-size: 80px, 100px, 150px, 130px, cover;
    background-repeat: no-repeat;
    background-position: top 120px right 130px, top 270px left 130px, center, 100px 60px,
        center;
}

/* ================ Свойство object-fit =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    line-height: 1.5;
} */

.base5 {
    width: 480px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.base5>img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
}

.container5 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.card-set5 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.card5 {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 2 - 20px);
}

.card5,
.base5 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.card5>.label5,
.base5>.label5 {
    padding: 10px;
    font-size: 20px;
}

.card5>.label5 {
    font-family: monospace;
    letter-spacing: -0.05em;
}

.thumb5 {
    position: relative;
    height: 380px;
    width: 100%;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
}

.thumb5>img {
    display: block;
    height: 100%;
    width: 100%;
}

.card5:nth-child(1) img {
    object-fit: fill;
}

.card5:nth-child(2) img {
    object-fit: contain;
}

.card5:nth-child(3) img {
    object-fit: cover;
}

.card5:nth-child(4) img {
    object-fit: scale-down;
}

.card5:nth-child(5) img {
    object-fit: none;
}

/* ================ Свойство object-position =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: monospace;
    color: #212121;
    letter-spacing: -0.05em;
    line-height: 1.5;
} */

.base6 {
    width: 480px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.base6>img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
}

.container6 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.card-set6 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
    margin-left: -20px;
}

.card6 {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 2 - 20px);
}

.card6,
.base6 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.card6>.label6,
.base6>.label6 {
    padding: 10px;
    font-size: 20px;
}

.label6>span {
    display: block;
    text-align: center;
}

.thumb6 {
    position: relative;
    height: 380px;
    width: 100%;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
}

.thumb6>img {
    display: block;
    height: 100%;
    width: 100%;
}

.card6:nth-child(1) img {
    object-fit: fill;
    object-position: 50px 50px;
}

.card6:nth-child(2) img {
    object-fit: contain;
    object-position: left bottom;
}

.card6:nth-child(3) img {
    object-fit: cover;
    object-position: 20% 30px;
}

.card6:nth-child(3):nth-child(4) img {
    object-fit: scale-down;
    object-position: right top;
}

/* ================ Псевдоэлементы. Свойство content =============== */
.box7 {
    width: 400px;
    outline: 1px solid tomato;
}

.box7::before {
    content: 'Это текст в ::before';
    font-size: 40px;
    color: orange;
}

.box7::after {
    content: 'Это текст в ::after';
    font-size: 30px;
    color: teal;
}

/* ================ Псевдоэлемент-иконка. Псевдокласс :hover =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
} */

.list8 {
    padding: 20px;
    margin: 0;
    list-style: none;

    outline: 2px solid tomato;
}

.list-item8:not(:last-child) {
    margin-bottom: 5px;

    outline: 2px solid green;
}

.list-link8 {
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-size: 32px;

    outline: 2px solid blue;
}

.list-link8::before,
.list-link8::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    /* background-size: rgb(243, 152, 252); */
}

/* Adds a fire icon in front of the link text */
.list-link8::before {
    margin-right: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599502.png");
}

/* Adds and hides arrow icon after the link text */
.list-link8::after {
    display: none;
    margin-left: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/507/507257.png")
}

.list-link8:hover {
    color: #2196f3;
}

/* Show arrow icon on hover */
.list-link8:hover::after {
    display: block;
}

/* ================ Псевдоэлемент-иконка. Псевдокласс :hover =============== */






















/* _______________________________ F I N A L Конспект _______________________________ */


























/* ============== из А В Т О П Р О В Е Р К И --> Модуль 4 - Занятие 7 ============== */









/* _____________________________ F I N A L   Автопроверки ___________________________ */