
/* =============================================================== */
/* form {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    font-family: inherit;
} */

label {
    /* display: block; */
    /* display:flex; */
    /* display: inline-flex; */
    /* flex-direction: column; */
    /* margin-bottom: 8px; */
}

/* label {
    display: block;
    
} */


















/* _______________________________ F I N A L Конспект _______________________________ */


























/* ============== из А В Т О П Р О В Е Р К И --> Модуль 2 - Занятие 3 ============== */

/* ==== стиль текста ОТВЕТ HTML ==== */









/* _____________________________ F I N A L   Автопроверки ___________________________ */