/* ================== ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№ (section-main-page)================== */

.section-main-page {
    /* display: flex; */
    /* padding-top: 10px; */

    /* text-align: center; */

    /* background-color: rgb(240, 238, 157); */

    background-image: url("https://picsum.photos/640/480");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    /* background-size: auto; */
    background-size: 1200px;
    /* background-size: contain; */
    /* background-size: cover; */

    /* opacity: 0.7; */
}

/* ______________________  К О Н Е Ц ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№   ___________________ */



/* ================= Стилизаци LOGO в этой страницы module_№-№ (section-main-page) ================= */
/* ================ Сдвиг LOGO вправо этой страницы module_№-№ (section-main-page) ================ */
.logo-main-page {
    display: flex;

    width: 300px;
    height: 300px;

    position: fixed;
    top: 10px;
    right: 40px;
    /* left: 30px; */

    /* margin-top: 20px; ---- */
    /* margin-left: 30px; */

    justify-content: flex-end;
    align-items: flex-end;

    /* padding: 0.5em; */
    /* padding-left: 50%; */

    /* outline: 2px solid tomato; */
}

.logo-main-page img {
    /* display: block; */
    height: 90%;
    width: 90%;
    padding: 14%;

    border: 2px solid var(--color-light);
    border-radius: 20%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.452),
        6px 6px 6px rgba(255, 254, 254, 0.452);


    /* margin-left: auto; */

    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: scale-down; */
    /* object-fit: none; */

    /* object-position: left bottom; */

    /* outline: 2px solid rgb(25, 0, 255); */
}


.logo-main-page img:hover,
.logo-main-page img:focus {

    border: 3px solid rgb(255, 0, 0);
    background-color: #1ac7e6;
    color: rgb(255, 0, 0);

    opacity: 0.5;

    /* transform: scale(1.1); */
    transform: rotate(360deg);

    /* transition: scale 500ms linear, transform 500ms ease-in-out 500ms; */
    transition-duration: 1500ms;
}

.logo-main-page img:active {
    transform: scale(1.1);
    transition-duration: 200ms;

    border: 3px solid rgb(29, 90, 10);
    background-color: #5be61a;
    color: rgb(38, 78, 5);
}

/* .page {
    position: fixed;
    top: 10px;
    right: 40px
} */
/* __________________  К О Н Е Ц ССдвиг LOGO вправо этой страницы module_№-№ _______________ */


/* ________________________________________________________________________________________ */




/* ================= из К О Н С П Е К Т А -->  Модуль 3 - Занятие 6 ================= */

/* ================ Свойство display =============== */
.menu {
    display: flex;
    /* display: inline-flex; */
}

/* =================================================== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    background-color: #f9f9fd;
} */

.menu1 {
    display: flex;
    padding: 10px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*  Making ul.menu a Flex container  */
    
    /* outline: 3px solid tomato; */
}

.menu1>.item1:not(:last-child) {
    margin-right: 10px;

    /* outline: 2px solid red; */
}

.menu1 .link1 {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;

    /* outline: 4px solid green; */
}

.menu1 .link1:hover {
    text-decoration: underline;
}

/* ================ Свойство flex-direction =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    background-color: #f9f9fd;
} */

.menu2 {
    /*  Making ul.menu a Flex container  */
    display: flex;

    padding: 15px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    /* outline: 3px solid green; */
}

.menu2.reversed2 {
    /*  We rotate the main axis from right to left  */
    flex-direction: row-reverse;
    margin-top: 20px;

    /* outline: 7px solid rgb(255, 0, 55); */
}

.menu2>.item2:not(:last-child) {
    margin-right: 10px;

    /* outline: 3px solid tomato; */
}

.menu2.reversed2>.item2:not(:last-child) {
    margin-right: 0;
    margin-left: 10px;

    /* outline: 3px solid green; */
}

.menu2 .link2 {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;

    /* outline: 3px solid rgb(0, 0, 0); */
}

.menu2 .link2:hover {
    text-decoration: underline;
}


/* ================ Свойство justify-content =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    background-color: #f9f9fd;
} */

code {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;

    outline: 3px solid tomato;
}

.menu3 {
    display: flex;
    padding: 15px;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    outline: 3px solid rgb(6, 21, 228);
}

.menu3.flex-end3 {
    justify-content: flex-end;
}

.menu3.center3 {
    justify-content: center;
}

.menu3.space-between3 {
    justify-content: space-between;
}

.menu3>.item3:not(last-child) {
    margin-right: 10px;

    outline: 3px solid tomato;
}

.menu3 .link3 {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

.menu3 .link3:hover {
    text-decoration: underline;
}


/* ================ Свойство align-items =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    background-color: #f9f9fd;
} */

.page-header4 {
    /*  Making header.page-header a Flex-container and aligning elements  */
    /* display: block; */
    /* display: inline-block; */
    display: flex;
    /* display: inline-flex; */
   
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #607d8b;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    outline: 3px solid tomato;

}

.logo4 {
    padding: 15px;
    border-radius: 4px;
    background-color: #ff5722;
    text-decoration: none;
    color: #fff;
}

.menu4 {
    /* display: flex; */
    /* display: block; */
    /* display: inline-block; */
    display: flex;
    /* display: inline-flex; */

    padding: 15px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    background-color: #2196f3;
}

.menu4>.item4:not(:last-child) {
    margin-right: 10px;
}

.menu4 .link4 {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

.menu4 .link4:hover,
.menu4 .link4:focus,
.logo4:hover,
.logo4:focus {
    text-decoration: underline;
}


/* ================ Карточка с изображением =============== */























/* _______________________________ F I N A L Конспект _______________________________ */




















/* ============== из А В Т О П Р О В Е Р К И --> Модуль 3 - Занятие 6 ============== */

/* ==== стиль текста ОТВЕТ HTML ==== */









/* _____________________________ F I N A L   Автопроверки ___________________________ */