/* ================== ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№ (section-main-page)================== */

.section-main-page {
    /* display: flex; */
    /* padding-top: 10px; */

    /* text-align: center; */

    background-color: var(--color-background-start);



    /* background-image: linear-gradient(to right,
                #f44336 15%,
                #09792b 40%,
                #00b9ff 65%,
                #ffb800); */
    background-image: linear-gradient(to bottom left,
            var(--color-background-start),
            var(--color-background-end));
    /* background-image: url(../img/Sunset_1.jpg); */
    /* background-image: url("https://picsum.photos/640/480"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2020/10/07/10/51/mountains-5634817_1280.jpg"); */

    background-repeat: no-repeat;

    /* background-position: 50% 50%; */
    background-position: center;

    /* background-size: auto; */
    /* background-size: 1100px; */
    /* background-size: contain; */
    background-size: cover;

    background-attachment: fixed;

    /* opacity: 0.7; */


    /* ++++++++++++++ из конспекта ++++++++++++++++ */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */

    /*  Comment out this line  */
    /* background-attachment: fixed; */
    /* +++++++++++++++++++++++++++++++++++++++++++ */

}

/* ______________________  К О Н Е Ц ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№   ___________________ */



/* ================= Стилизаци LOGO в этой страницы module_№-№ (section-main-page) ================= */
/* ================ Сдвиг LOGO вправо этой страницы module_№-№ (section-main-page) ================ */
.logo-main.page {
    position: fixed;
    top: 10px;
    left: unset;
    right: 40px
}

/* __________________  К О Н Е Ц ССдвиг LOGO вправо этой страницы module_№-№ _______________ */











/* ________________________________________________________________________________________ */





/* ================= из К О Н С П Е К Т А -->  ================= */

/* ================ CSS-переходы =============== */
.box1 {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: tomato;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*  Задаём значения перехода  */
    transition-property: background-color, transform;
    transition-duration: 1000ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

/* При ховере меняем значения анимируемых свойств */
.box1:hover {
    background-color: teal;
    transform: rotate(180deg);
}

/* ================ Свойство transition-property =============== */
.box2 {
    width: 200px;
    height: 200px;
    margin-left: 200px;
    border-radius: 10px;
    background-color: teal;
    transition-property: background-color;
    transition-duration: 2000ms;
}

.box2:hover {
    background-color: orange;
}

/* ================ Свойство transition-property =============== */
.flex-container3 {
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.circle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transition-property: transform;
}

.flex-container3:hover .circle3 {
    transform: scale(1.5);
}

.circle3:nth-child(1) {
    background-color: orange;

    transition-duration: 500ms;
}

.circle3:nth-child(2) {
    background-color: #03a9f4;

    transition-duration: 1500ms;
}

.circle3:nth-child(3) {
    background-color: palevioletred;

    transition-duration: 3000ms;
}


/* ================ Свойство transition-timing-function =============== */
.container4 {
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
    padding: 10px;
}

.circle4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transform: translatex(0);
    transition-property: transform;
    transition-duration: 2000ms;
    transition-delay: 500ms;
}

.circle4:not(:last-child) {
    margin-bottom: 5px;
}

.container4:hover .circle4 {
    transform: translatex(calc(100vw - 86px));
}

.circle4:nth-child(1) {
    background-color: #f44336;
    transition-timing-function: linear;
}

.circle4:nth-child(2) {
    background-color: #3f51b5;
    transition-timing-function: ease;
}

.circle4:nth-child(3) {
    background-color: #00bcd4;
    transition-timing-function: ease-in;
}

.circle4:nth-child(4) {
    background-color: #30a734;
    transition-timing-function: ease-out;
}

.circle4:nth-child(5) {
    background-color: #ffeb3b;
    transition-timing-function: ease-in-out;
}

.circle4:nth-child(6) {
    background-color: #e91e63;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}




















/* _______________________________ F I N A L Конспект _______________________________ */


























/* ============== из А В Т О П Р О В Е Р К И --> Модуль 2 - Занятие 3 ============== */

/* ==== стиль текста ОТВЕТ HTML ==== */









/* _____________________________ F I N A L   Автопроверки ___________________________ */