/* ================= из К О Н С П Е К Т А -->  Модуль 4 - Занятие 7 ================= */

/* ================ Свойство background-image =============== */
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212121;
} */

.tile1 {
    padding: 10px;
    text-align: center;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;

    background-color: tomato;
}

.tile-set1 {
    display: flex;
    justify-content: center;
}

.tile1:not(:last-child) {
    margin-right: 10px;
}

.icon1 {
    display: inline-flex;
    height: 164px;
    width: 164px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    outline: 2px solid green;
}

.icon1.with-bg1 {
    background-color: #ff9800;
}

.icon1.with-icon1 {
    background-image: url("https://cdn2.iconfinder.com/data/icons/avatars-60/5985/34-Father-512.png");
}


/* ================ Свойство background-repeat =============== */






















/* _______________________________ F I N A L Конспект _______________________________ */


























/* ============== из А В Т О П Р О В Е Р К И --> Модуль 4 - Занятие 7 ============== */









/* _____________________________ F I N A L   Автопроверки ___________________________ */