body {
    color: #2a2a2a;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5ebd7;
}

/* ***************************************************************/

.main-content {
    /* font-style: normal; */
    /* font-weight: 700; */
    /* font-size: 14px; */
    /* line-height: 17px; */
    /* background-color: rgb(39, 175, 130); */
    color: #360000;                                                                                                      
}

.h1_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 17px;
    color: #850505;
    /* margin-left: 400px; */
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ==== Произвольная картинка от генератора ==== */
.random-picture {
    margin-left: 640px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* ========ЛОГОТИП ФУТЕРА (logo-footer)======= */
.logo-footer {
    margin-left: 1700px;
    margin-top: 0px;
    /* margin-bottom: 30px; */
}

.h2_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #275833;

    /* margin-bottom: 20px; */
}

.h3_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #2535c2;

    /* margin-bottom: 20px; */

}

/* === КОНСПЕКТ + АВТОПРОВЕРКИ === */
.h01_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.67;
    color: #850505;
    /* margin-left: 400px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
}


.task-word, 
.accent_span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.21;
    color: #97172d;

    /* margin-bottom: 20px; */
}

/* ==== стиль текста ОТВЕТ HTML ==== */
.answer-html {
    color: tomato;
    ;
    font-size: 18px;
}

/* ==== стиль текста ОТВЕТ CSS ==== */
.answer-css {
    color: #2196F3;
    font-size: 18px;
}









/* ======== из К О Н С П Е К Т А -->  Модуль 2 - Занятие 3 ======== */

/* ================ Тег <pre> =============== */
pre {
    font: inherit;
}


/* ============= Селектор класса ============ */
/* Применится ко всем тегам с классом title */
.title {
    font-weight: 500;
    font-size: 40px;
    color: #2196F3;
}

/* Применится ко всем тегам с классом text */
.text {
    color: rgb(59, 59, 3);
    font-size: 18px;
}

/* Применится ко всем тегам с классом link */
.link {
    text-decoration: none;
    color: coral;
    font-size: 24px;
}


/* ============= Композиция классов ============ */
/* Общие стили для всех типов оповещений */
.alert {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/* Специфические стили для каждого типа */
.success {
    color: green;
}

.warning {
    color: orange;
}

.error {
    color: red;
}


/* ============= Селектор идентификатора ============ */
#title {
    font-weight: 500;
    color: orange;
}


/* ============= Селектор потомка ============ */
/* ❌ Применится ко всем ссылкам в документе */
/* a {
    color: blue;
    text-decoration: none;
} */

/* ✅ Применится только к ссылкам, которые лежат внутри тега с классом social-links */
.social-links a {
    color: blue;
    text-decoration: none;
}


/* ============= Селектор ребенка ============ */
/* ❌ Не решает задачу */
/* .menu li {
    border: 1px solid tomato;
} */

/* ✅ То что нужно */
.menu > li {
    border: 3px solid tomato;
}

.submenu li {
    border: 1px solid blue;
}


/* ===== Селектор атрибута -> элемент[атрибут] ===== */
a[title] {
    color:blueviolet;
}


/* ===== Селектор атрибута -> элемент[атрибут="значение"] ===== */
/* Непривычное форматирование фигурных скобок это нормально */
a[href="https://htmlreference.io"] {
    color: teal;
}

a[href="https://cssreference.io"] {
    color: orange;
}

a[href="https://www.youtube.com"] {
    color: tomato;
}


/* Снова Переназначает элемент[атрибут] = a[title]  внужный цвет  */
a[title] {
    color: blueviolet;
}


/* ======== Псевдокласс состояния :hover ======== */
.link1 {
    color: teal;
}

.link1:hover {
    color: tomato;
}

/* ======== изменит состояние ВСЕХ ссылок в документе ======= */
/* a {
    color: teal;
}

a:hover {
    color: tomato;
} */

/* ================================================================ */
.social-links2 .link2 {
    color:#2196F3;
}

.social-links2 .link2:hover {
    color:fuchsia;
}

/* .link3 {
    color: #2196F3;
}

.link3:hover {
    color: fuchsia;
} */
/* ======+++++++++++++?????????????????=========== */
/* .social-links2 a {
    color:#2196F3;
}

.social-links2:hover a {
    color:fuchsia;
} */
/* ======+++++++++++++?????????????????=========== */


/* ======== Псевдокласс состояния :focus ======== */
.social-links4 .link4 {
    color: teal;
}

.social-links4 .link4:focus {
    color: orange;
}


/* ======== Псевдокласс состояния :active ======== */
.social-links5 .link5 {
    color: teal;
}

.social-links5 .link5:hover,
.social-links5 .link5:focus {
    color: orange;
}

.social-links5 .link5:active {
    color: red;
}


/* ======== Псевдокласс состояния :active ======== */
.social-links7 .link7 {
    color: teal;
}

.social-links7 .link7:hover,
.social-links7 .link7:focus {
    color: orange;
}

.social-links7 .link7:active {
    color: red;
}

.social-links7 .link7:visited {
    color: green;
}


/* ================== Таблица 1 и :hover ================ */
.schedule-body > tr:hover {
    background-color: tomato;
    color: white;
}

/* Оформление таблицы */
.schedule {
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    padding: 8px;
    border: 1px solid #212121;
}


/* ================== Таблица 2 и :hover ================ */
.schedule-body2 td:hover {
    background-color: tomato;
    color: white;
    cursor: pointer;
}

/* Оформление таблицы */
.schedule2 {
    border-collapse: collapse;
}

.schedule2 th,
.schedule2 td {
    padding: 8px;
    border: 1px solid #212121;
}


/* ================== Свойство cursor ================ */
.auto {
    cursor: auto;
}

.default {
    cursor: default;
}

.none {
    cursor: none;
}

.context-menu {
    cursor: context-menu;
}

.help {
    cursor: help;
}

.pointer {
    cursor: pointer;
}

.progress {
    cursor: progress;
}

.wait {
    cursor: wait;
}

.cell {
    cursor: cell;
}

.crosshair {
    cursor: crosshair;
}

.text {
    cursor: text;
}

.vertical-text {
    cursor: vertical-text;
}

.alias {
    cursor: alias;
}

.copy {
    cursor: copy;
}

.move {
    cursor: move;
}

.no-drop {
    cursor: no-drop;
}

.not-allowed {
    cursor: not-allowed;
}

.all-scroll {
    cursor: all-scroll;
}

.col-resize {
    cursor: col-resize;
}

.row-resize {
    cursor: row-resize;
}

.n-resize {
    cursor: n-resize;
}

.e-resize {
    cursor: e-resize;
}

.s-resize {
    cursor: s-resize;
}

.w-resize {
    cursor: w-resize;
}

.ns-resize {
    cursor: ns-resize;
}

.ew-resize {
    cursor: ew-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.nw-resize {
    cursor: nw-resize;
}

.se-resize {
    cursor: se-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.nesw-resize {
    cursor: nesw-resize;
}

.nwse-resize {
    cursor: nwse-resize;
}

/* body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

.cursors {
    display: flex;
    flex-wrap: wrap;
}

.cursors>div {
    flex: 150px;
    padding: 10px 2px;
    white-space: nowrap;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 5px 5px 0;
}

.cursors>div:hover {
    background: #eee;
}

code {
    display: inline-block;
    background-color: #eee;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 32px;
}


/* ================== Цвет текста и фона ================ */
.text-color {
    /* background-color: tomato; */
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
}


/* ======== Каскад стилей. Селекторы 4-го ранга ========= */
/* Специфичность - 0 0 0 1 */
/* p {
    color: green;
} */

/* ✅ Специфичность - 0 0 0 2 */
/* article>p {
    color: orange;
} */


/* ======== Каскад стилей. Селекторы 3-го ранга ========= */
/* ===== Каскад стилей. Селекторы 3-го ранга  <h1> ====== */
/* Специфичность - 0 0 1 0 */
.post-title {
    color: green;
}

/* Специфичность - 0 0 1 1 */
.post>h1 {
    color: red;
}

/* ✅ Специфичность - 0 0 2 0 */
.post>.post-title {
    color: orange;
} 

/* ===== Каскад стилей. Селекторы 3-го ранга  <a> ====== */
/* Специфичность - 0 0 0 1 */
/* a {
    color: green;
} */

/* Специфичность - 0 0 1 0 */
.post-link {
    color: orange;
}

/* Специфичность - 0 0 1 1 */
a.post-link {
    color: blue;
}

/* Специфичность - 0 0 2 0 */
.post>.post-link {
    color: red;
}

/* ✅ Специфичность - 0 0 2 1 */
.post>a.post-link {
    color: brown;
}


/* ======== Каскад стилей. Селекторы 2-го ранга ========= */
/* Специфичность - 0 0 1 0 */
.post-title9 {
    color: green;
}

/* ✅ Специфичность - 0 1 0 0 */
#title9 {
    color: orange;
}


/* ============ Ключевое слово !important ============= */
/* p {
    color:red !important;
} */

p#text-id1.text1 {
    color: blue;
}


/* ============ Наследование свойств ============= */
.post91 {
    color: green;
}


/* ========= Cсылка не наследует цвет текста ========== */
.post12 {
    color: green;
}

/* .post-link12 {
    color: inherit;
} */

.post-link12 {
    color: currentColor;
}


/* ========= CSS-переменные ========== */
/* ========= Переопределение значений ========== */
.alert1 {
    --alert-text-color: black;

    color: var(--alert-text-color);
}

.alert1.success1 {
    --alert-text-color: green;
}

.alert1.warning1 {
    --alert-text-color: orange;
}

.alert1.error1 {
    --alert-text-color: red;
}


/* ============================== F I N A L Конспект =============================== */














/* ========================== из А В Т О П Р О В Е Р К И  № 2 ====================== */

/* === Мод_1 Task_2. Задание 5/5 Сверстай таблицу + CSS-разметка === */
caption {
    font-size: 20px;
    margin-bottom: 1rem;
}

thead {
    background-color: #555;
    color: #fff;
}

td,
th {
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    text-align: center;
}

td[colspan] {
    background-color: #eee;
}








/* =============== из А В Т О П Р О В Е Р К И --> Модуль 2 - Занятие 3 =============== */

/* ============= Мод_2 Task_1. Задание 1/28  ============ */



/* ============= Мод_2 Task_1. Задание 2/28  ============ */
.autocheck-m2-t2-z2 p {
    color: rgb(140, 0, 255);
    font-size: 20px;
}

/* ============= Мод_2 Task_1. Задание 3/28  ============ */
.autocheck-m2-t2-z3 {
    margin: 0;
    padding: 0;
}

/* ============= Мод_2 Task_1. Задание 4/28  ============ */
/* * {
    color: red;
} */

/* ======+++++++++++++?????????????????=========== */
.autocheck-m2-t2-z41 li {
    color: red;
    list-style :lower-greek;
    
}

.autocheck-m2-t2-z41:hover li {
    color: fuchsia;
}
/* ======+++++++++++++?????????????????=========== */

.autocheck-m2-t2-z4 > li {
    list-style: none;
    color :green;
}


/* ============= Мод_2 Task_1. Задание 5/28 ============= */
.autocheck-m2-t2-z51 li {
    list-style: none;
    color: darkorange;
}

.rule {
    list-style: upper-roman;
    color: navy;
}


/* ============= Мод_2 Task_1. Задание 6/28 ============= */
.common-rule {
    list-style: upper-roman;
    font-size: 20px;
}

.first-rule {
    color: red;
}

.last-rule {
    color: green;
}


/* ============= Мод_2 Task_1. Задание 7/28 ============= */
.btn {
    border: none;
    padding: 0.25rem 1.25rem;
}

.link {
    text-decoration: none;
    color: navy;
}

/* Напиши свой код под этой строкой */
.btn {
    color: red;
}

.link {
    font-weight: 700;
}

/* ============= Мод_2 Task_1. ОТВЕТ 7/28 ============= */
.btn6 {
    border: none;
    padding: 0.25rem 1.25rem;
}

.link6 {
    text-decoration: none;
    color: navy;
}

/* Напиши свой код под этой строкой */
.btn6.active6 {
    color: red;
}

.link6.active6 {
    font-weight: 700;
}


/* ================== ПРИМЕР. Задание 7/28  ==================== */
.title8.headline8 {
    font-family: cursive;
}

.title8 {
    font-family: serif;
}

.headline8 {
    font-family: sans-serif;
}


/* ============= Мод_2 Task_1. Задание 8/28 ============= */

/* ============= Скрыть заголовки h2 ============= */

/* .h2_header-style {
    opacity: 0;
} */

/* style="opacity: 0;" */

/* ============= Скрыть заголовки h2 ============= */










/* ==================    ==================== */
