body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5ebd7;
}

/* ***************************************************************/

.main-content {
    /* font-style: normal; */
    /* font-weight: 700; */
    /* font-size: 14px; */
    /* line-height: 17px; */
    /* background-color: rgb(39, 175, 130); */
    color: #360000;                                                                                                      
}

.h1_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 17px;
    color: #850505;
    /* margin-left: 400px; */
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ==== Произвольная картинка от генератора ==== */
.random-picture {
    margin-left: 640px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* ========ЛОГОТИП ФУТЕРА (logo-footer)======= */
.logo-footer {
    margin-left: 1700px;
    margin-top: 0px;
    /* margin-bottom: 30px; */
}

.h2_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #275833;

    /* margin-bottom: 20px; */
}

.h3_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #2535c2;

    /* margin-bottom: 20px; */

}

/* === КОНСПЕКТ + АВТОПРОВЕРКИ === */
.h01_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.67;
    color: #850505;
    /* margin-left: 400px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
}


.task-word, 
.accent_span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.21;
    color: #97172d;

    /* margin-bottom: 20px; */
}

/* ======== из К О Н С П Е К Т А -->  Модуль 2 - Занятие 3 ======== */

/* ================ Тег <pre> =============== */
pre {
    font: inherit;
}


/* ============= Селектор класса ============ */
/* Применится ко всем тегам с классом title */
.title {
    font-weight: 500;
    font-size: 40px;
    color: #2196F3;
}

/* Применится ко всем тегам с классом text */
.text {
    color: rgb(59, 59, 3);
    font-size: 18px;
}

/* Применится ко всем тегам с классом link */
.link {
    text-decoration: none;
    color: coral;
    font-size: 24px;
}


/* ============= Композиция классов ============ */
/* Общие стили для всех типов оповещений */
.alert {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/* Специфические стили для каждого типа */
.success {
    color: green;
}

.warning {
    color: orange;
}

.error {
    color: red;
}


/* ============= Селектор идентификатора ============ */










/* =============== из А В Т О П Р О В Е Р К И  № 2 =========== */

/* === Мод_1 Task_2. Задание 5/5 Сверстай таблицу + CSS-разметка === */
caption {
    font-size: 20px;
    margin-bottom: 1rem;
}

thead {
    background-color: #555;
    color: #fff;
}

td,
th {
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    text-align: center;
}

td[colspan] {
    background-color: #eee;
}









/* === из А В Т О П Р О В Е Р К И --> Модуль 2 - Занятие 3 === */

/* ==== стиль текста ОТВЕТ HTML ==== */
.answer-html {
    color :tomato;;
    font-size: 18px;
}

/* ==== стиль текста ОТВЕТ CSS ==== */
.answer-css {
    color :#2196F3;
    font-size: 18px;
}

/* ============= Мод_2 Task_1. Задание 2/28  ============ */
.autocheck-m2-t2-z2 p {
    color: rgb(140, 0, 255);
    font-size: 20px;
}

/* ============= Мод_2 Task_1. Задание 3/28  ============ */
.autocheck-m2-t2-z3 {
    margin: 0;
    padding: 0;
}

/* ============= Мод_2 Task_1. Задание 4/28  ============ */
/* * {
    color: red;
} */

/* ======+++++++++++++?????????????????=========== */
.autocheck-m2-t2-z41 li {
    color: red;
    list-style :lower-greek;
}
/* ======+++++++++++++?????????????????=========== */

.autocheck-m2-t2-z4 > li {
    list-style: none;
    color :green;
}


/* ============= Мод_2 Task_1. Задание 5/28 ============= */
.autocheck-m2-t2-z51 li {
    list-style: none;
    color: darkorange;
}

.rule {
    list-style: upper-roman;
    color: navy;
}


/* ============= Мод_2 Task_1. Задание 6/28 ============= */












/* ==================    ==================== */
