/* ================== ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№ (section-main-page)================== */

.section-main-page {
    /* display: flex; */
    /* padding-top: 10px; */

    /* text-align: center; */

    /* background-color: rgb(240, 238, 157); */

    background-image: url("https://picsum.photos/640/480");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    /* background-size: auto; */
    background-size: 1200px;
    /* background-size: contain; */
    /* background-size: cover; */

    /* opacity: 0.7; */
}

/* ______________________  К О Н Е Ц ДЕКОРАТИВНЫЙ ФОН этой страницы module_№-№   ___________________ */



/* ================= Стилизаци LOGO в этой страницы module_№-№ (section-main-page) ================= */
/* ================ Сдвиг LOGO вправо этой страницы module_№-№ (section-main-page) ================ */
.logo-main-page {
    display: flex;

    width: 300px;
    height: 300px;

    position: fixed;
    top: 10px;
    right: 40px;
    /* left: 30px; */

    /* margin-top: 20px; ---- */
    /* margin-left: 30px; */

    justify-content: flex-end;
    align-items: flex-end;

    /* padding: 0.5em; */
    /* padding-left: 50%; */

    /* outline: 2px solid tomato; */
}

.logo-main-page img {
    /* display: block; */
    height: 90%;
    width: 90%;
    padding: 14%;

    border: 2px solid var(--color-light);
    border-radius: 20%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.452),
        6px 6px 6px rgba(255, 254, 254, 0.452);


    /* margin-left: auto; */

    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: scale-down; */
    /* object-fit: none; */

    /* object-position: left bottom; */

    /* outline: 2px solid rgb(25, 0, 255); */
}


.logo-main-page img:hover,
.logo-main-page img:focus {

    border: 3px solid rgb(255, 0, 0);
    background-color: #1ac7e6;
    color: rgb(255, 0, 0);

    opacity: 0.5;

    /* transform: scale(1.1); */
    transform: rotate(360deg);

    /* transition: scale 500ms linear, transform 500ms ease-in-out 500ms; */
    transition-duration: 1500ms;
}

.logo-main-page img:active {
    transform: scale(1.1);
    transition-duration: 200ms;

    border: 3px solid rgb(29, 90, 10);
    background-color: #5be61a;
    color: rgb(38, 78, 5);
}

/* .page {
    position: fixed;
    top: 10px;
    right: 40px
} */
/* __________________  К О Н Е Ц ССдвиг LOGO вправо этой страницы module_№-№ _______________ */


/* ________________________________________________________________________________________ */




/* ================= из К О Н С П Е К Т А -->  Модуль 2 - Занятие 3 ================= */

/* ================ Свойство text-decoration =============== */
.text1>span {
    text-decoration: line-through;
}

.link1 {
    font-weight: 700;
    text-decoration: none;
}

/* ================ Свойство text-transform =============== */
.lists2 {
    list-style-type: none;
}

.site-nav2 .link2 {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    
}


/* ================ Свойство text-align =============== */
.post-title2 {
    text-align: center;
}

.align-right2 {
    text-align: right;
}

.align-justify2 {
    text-align: justify;
}

/* ================ Свойство text-indent =============== */
.post-text1 {
    text-indent: 100px;
}


/* ================ Свойство line-height =============== */
.text2{
    font-size: 16px;
    line-height: 4.5;
}


/* ================ Свойство letter-spacing =============== */
.post-title4 {
    letter-spacing: 15px;
}

.post-text4 {
    letter-spacing: 10px;
}


/* ================ Свойство word-spacing =============== */
.text3 {
    font-size: 24px;
    word-spacing: 15px;
}


/* ================ Свойство text-shadow =============== */
.title3 {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

/* ================== Многослойная тень ================= */
.title4 {

    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 2px 20px #ff0000,
                 5px 5px 5px #000000;
}

/* ============ Свойство white-space (normal) =========== */
.text4 {
    font-size: 24px;
    white-space: normal;
}


/* ============ Свойство white-space (nowrap) =========== */
.text5 {
    font-size: 24px;
    white-space: nowrap;
}


/* ============ Свойство white-space (pre) =========== */
.text6 {
    font-size: 24px;
    white-space: pre;
}


/* ============ Свойство white-space (pre-wrap) =========== */
.text7 {
    font-size: 24px;
    white-space: pre-wrap;
}


/* ============ Свойство font-size (размер) =========== */
.text8 {
    font-size: 40px;
}


/* ============ Свойство font-weight (жирность, вес) =========== */
/* Поменяем местами жирность текста заголовка и абзаца */
.title5 {
    font-weight: 400;
}

.text9 {
    font-weight: 700;
}


/* ============ Свойство font-style (начертание текста) =========== */
.title6 {
    font-style: italic;
    font-weight: 700;
    /* font-style: oblique; */
    /* font-style: initial; */
}

.text10 {
    font-style: normal;
}

.text11 {
    font-style: italic;
}
.text12 {
    font-style: oblique;
}


/* ======= Псевдоэлемент ::first-letter (стиль первого символа) ====== */
.firsts-letters1 {
    text-indent: -100px;
}

.firsts-letters1>pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
}

.firsts-letters1>pre::first-letter {
    /* text-indent: -40px; */
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
}


/* ==== Псевдоэлемент ::selection (стилем выделения текста элемента) === */
.firsts-letters2 {
    text-indent: -100px;
}

.firsts-letters2>pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
}

.firsts-letters2>pre::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #f44336;
}

/* Let's add text selection styles for each paragraph of the poem. */
.firsts-letters2>pre::selection
/* .firsts-letters2>pre::first-letter ::selection */
{
    color: #ffffff;
    background-color: #3f51b5;
}





















/* _______________________________ F I N A L Конспект _______________________________ */























/* ============== из А В Т О П Р О В Е Р К И --> Модуль 2 - Занятие 3 ============== */

/* ============= Мод_2 Task_2. Задание 1/12  ============ */
/* p {
    text-indent: 40px;
} */

/* ============= Мод_2 Task_2. Задание 2/12  ============ */
.columns {
    text-indent: 40px;
    column-count: 2;
}

/* ============= Мод_2 Task_2. Задание 3/12  ============ */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

/* ============= Мод_2 Task_2. Задание 4/12  ============ */
p {
    line-height: 2;
}

/* ============= Мод_2 Task_2. Задание 5/12  ============ */
.boxes5,
.cards5,
.letter5 {
    font-size: 36px;
    height: 100px;
    padding: 1rem;
    background-color: goldenrod;
    margin-bottom: 1rem;
}

.box-485 {
    font-size: 48px;
}

.box-725 {
    font-size: 72px;
}

.card5{
    height: 36px;
    width: 18px;
}

.card-485 {
    height: 48px;
    width: 36px;
}

.card-725 {
    height: 72px;
    width: 48px;
}

/* Напиши код под этой строкой */
.box5,
.card5 {
    display: inline-block;
    background-color: blueviolet;
    vertical-align: top;
}

.letter5::first-letter {
    font-size: 72px;
    vertical-align: top;
}


/* ============= Мод_2 Task_2. Задание 6/12  ============ */
.boxes6,
.cards6,
.letter6 {
    font-size: 36px;
    height: 100px;
    padding: 1rem;
    background-color: goldenrod;
    margin-bottom: 1rem;
}

.box-486 {
    font-size: 48px;
}

.box-726 {
    font-size: 72px;
}

.card6 {
    height: 36px;
    width: 18px;
}

.card-486 {
    height: 48px;
    width: 36px;
}

.card-726 {
    height: 72px;
    width: 48px;
}

/* Напиши код под этой строкой */
.box6,
.card6 {
    display: inline-block;
    background-color: blueviolet;
    vertical-align: middle;
}

.letter6::first-letter {
    font-size: 72px;
    vertical-align: middle;
}


/* ============= Мод_2 Task_2. Задание 7/12  ============ */
.boxes7,
.cards7,
.letter7 {
    font-size: 36px;
    height: 100px;
    padding: 1rem;
    background-color: goldenrod;
    margin-bottom: 1rem;
}

.box-487 {
    font-size: 48px;
}

.box-727 {
    font-size: 72px;
}

.card7 {
    height: 36px;
    width: 18px;
}

.card-487 {
    height: 48px;
    width: 36px;
}

.card-727 {
    height: 72px;
    width: 48px;
}

/* Напиши код под этой строкой */
.box7,
.card7 {
    display: inline-block;
    background-color: blueviolet;
    vertical-align: bottom;
}

.letter7::first-letter {
    font-size: 72px;
    vertical-align: bottom;
}

/* ============= Мод_2 Task_2. Задание 8/12  ============ */
.fs36 {
    font-size: 36px;
    padding: 1rem;
}

[data-transform="none"] {
    text-transform: none;
}

[data-transform="uppercase"] {
    text-transform: uppercase;
}

[data-transform="lowercase"] {
    text-transform: lowercase;
}

[data-transform="capitalize"] {
    text-transform: capitalize;
}


/* ============= Мод_2 Task_2. Задание 9/12  ============ */
/* body {
    font-size: 36px;
    padding: 1rem;
} */

/* Напиши код под этой строкой */
.up {
    font-size: 36px;
    padding: 1rem;
    text-decoration: overline wavy red;
}

.through {
    font-size: 36px;
    padding: 1rem;
    text-decoration: line-through dashed green
}

.down {
    font-size: 36px;
    padding: 1rem;
    text-decoration: underline solid blue;
}

.no {
    font-size: 36px;
    padding: 1rem;
    text-decoration: none;
}

.combi {
    font-size: 36px;
    padding: 1rem;
    text-decoration: underline overline double grey;
}

/* ============= Мод_2 Task_2. Задание 10/12  ============ */
/* body {
    font-family: sans-serif;
    font-size: 36px;
    padding: 1rem;

} */

/*  offset-x | offset-y | blur-radius | color  */
.one {
    font-size: 36px;
    padding: 1rem;
    color: blue;
    text-decoration: underline wavy;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 2px hsla(0, 0%, 0%, .5);
}

.rings {
    font-size: 36px;
    padding: 1rem;
    color: orange;
    text-shadow: -15px -8px 0 blue,
                14px -8px 0 black,
                29px 0 0 green,
                44px -8px 0 red;
}

/* ============= Мод_2 Task_2. Задание 11/12  ============ */
.items {
    word-spacing: 1rem;
}

/*  Напиши код под этой строкой */
.item-less {
    word-spacing: -.25rem;
}

.item-normal {
    word-spacing: normal;
}


/* ============= Мод_2 Task_2. Задание 12/12  ============ */
.items1 {
    letter-spacing: .25rem;
}

/*  Напиши код под этой строкой */
.item-less1 {
    letter-spacing: -.1rem;
}

.item-normal1 {
    letter-spacing: normal;
}

/* _____________________________ F I N A L   Автопроверки ___________________________ */