body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5ebd7;
}

/* ***************************************************************/

.main-content {
    /* font-style: normal; */
    /* font-weight: 700; */
    /* font-size: 14px; */
    /* line-height: 17px; */
    /* background-color: rgb(39, 175, 130); */
    color: #360000;                                                                                                      
}

.h1_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 17px;
    color: #850505;
    /* margin-left: 400px; */
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ==== Произвольная картинка от генератора ==== */
.random-picture {
    margin-left: 640px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* ========ЛОГОТИП ФУТЕРА (logo-footer)======= */
.logo-footer {
    margin-left: 1700px;
    margin-top: 0px;
    /* margin-bottom: 30px; */
}

.h2_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #275833;

    /* margin-bottom: 20px; */
}

.h3_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #2535c2;

    /* margin-bottom: 20px; */

}

/* === КОНСПЕКТ + АВТОПРОВЕРКИ === */
.h01_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.67;
    color: #850505;
    /* margin-left: 400px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
}



.task-word {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.21;
    color: #97172d;

    /* margin-bottom: 20px; */
}

/* =============== из К О Н С П Е К Т А =========== */
.excerpt {
    /* Sets the border */
    border: 2px dashed #2196F3;

    /* Adds an inner padding */
    padding: 15px;

    /* Sets outer margins */
    margin: 20px;
}
