/* ========== Установка войства box-sizing: content-box ======================= */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /* ============ ПЕРЕМЕННЫЕ ЦВЕТА ============ */
    --color-font-main: #360000;
    --color-font-secondary: #2a2a2a;
    --color-font-footer: rgba(255, 255, 255, 0.6);
    /* =============================== */
    --color-background-main: #f5ebd7;
    --color-background-team: #F5F4FA;
    --color-background-footer: #2F303A;
    /* =============================== */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    /* =============================== */
    --color-border-line: #ECECEC;
    --color-borders-portfolio: #EEEEEE;
    /* =============================== */
    --color-logo-links-hover: #2196F3;
    --color-button-hover: #188CE8;
    /* ========================================== */
}
/* ============================================================================== */

body {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    /* color: #2a2a2a; */
    color: var(--color-font-main);
    background-color: var(--color-background-main);
}
/* ================================================================================ */





/* ============================== К О Н Т Е Й Н Е Р Ы ============================== */

/* ==================== Контейнер (container-main) ==================== */
.container-main {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

    padding-top: 10px;
    padding-bottom: 10px;

    /* opacity: 0.5; */

    /* УБРАТЬ */
    /* outline: 2px solid tomato;  */
    /* background-color: tomato; */
}


/* _____________________________  К О Н Е Ц Контейнеры _____________________________ */






/* ============= Типографика - ГЛОБАЛЬНАЯ Стилизация некоторых элементов ============= */

/* --------- Убираем точки и ВЕРХ и НИЗ отступы со ВСЕХ списков --------- */
/* ul {list-style-type: none;} */
.lists {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* ------ Убираем подчеркивание со ВСЕХ ссылок ------ */
/* ------- Цвет текста ВСЕХ ссылок наследуем ------- */
a {
    text-decoration: none;
    color: inherit;
}
.links {text-decoration: none;}

/* --- Задаем ВСЕМ кнопкам тип курсора pointer ------ */
.buttons {cursor: pointer;}

/* ========== Задаем ВСЕМ кнопкам тип курсора pointer ========== */
.buttons {cursor: pointer;}

/* ========== Сброс отступов у ВСЕХ заголовков и ВСЕГО текста ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* =================== Сброс нижнего отступа у img =================== */
img {
    display: inline-block;
}
/* _____________________________  К О Н Е Ц Типографика _____________________________ */





/* ========== Стили ТАБЛИЦЫ из А В Т О П Р О В Е Р К И  № 2 ====== */
/* = Мод_1 Task_2. Задание 5/5 Сверстай таблицу + CSS-разметка = */
caption {
    font-size: 20px;
    margin-bottom: 1rem;
}

thead {
    background-color: #555;
    color: #fff;
}

td,
th {
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    text-align: center;
}

td[colspan] {
    background-color: #eee;
}

/* _____________________ К О Н Е Ц Стили ТАБЛИЦЫ ___________________ */



/* ===================== Стилизация заголовков ===================== */
.h1_header-style {
    /* margin-left: 400px; */
    margin-top: 1em;
    margin-bottom: 2em;

    /* font-style: normal; */
    /* font-style: italic; */
    font-weight: 700;
    font-size: 40px;
    
    color: #850505;
}

/* ============ Верхний колонтитул для h1-заголовков ============ */
.block-title {
    /* font-weight: 900; */
    font-style: italic;
    /* font-style: normal; */
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: blue
        /* color: var(--color-light); */
}

.h2_header-style {
    margin-bottom: 15px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #275833;

}

.h3_header-style {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
   
    color: #2535c2;

    
}

/* ================== Стилизация меню КОНСПЕКТ + АВТОПРОВЕРКИ ================== */
.h01_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 2.5;
    color: #cf0000;
    /* margin-left: 400px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
}

.h01_header-style:hover,
.h01_header-style:focus {
    border: 1px solid rgb(17, 0, 255);
    background-color: #1ac7e6;
    color: rgb(17, 0, 255);
}
/* ===================== ???????????????????  =================== */
.task-word,
.accent_span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.21;
    color: #97172d;

    /* margin-bottom: 20px; */
}

/* ================ Стилизация span-ссылок ================ */
.span-color {
    /* font-style: italic; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 36px;
    /* text-decoration: none; */
    letter-spacing: 10px;
    text-shadow: 2px 2px 20px #ff0000,
        5px 5px 5px #000000;
    color: #a3b990;
}

/* ================== Cтиль текста ОТВЕТ HTML ================== */
.answer-html {
    color: tomato;
    ;
    font-size: 18px;
}

/* ==== стиль текста ОТВЕТ CSS ==== */
.answer-css {
    color: #2196F3;
    font-size: 18px;
}

/* _______________  К О Н Е Ц  Cтиль текста ОТВЕТ HTML ____________ */


/* ============== СТИЛИЗАЦИЯ LOGO ФУТЕРА (logo-footers)============= */


/* ======================= Сдвиг LOGO ФУТЕРА вправо и вниз (index.html) ======================= */
.logo-footers {
    display: flex;

    /* margin-top: 20px; */
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    /* margin-left: 1717px; */

    width: 140px;
    height: 160px;
    
    /* justify-content: flex-end; */
    align-items: flex-end;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;

    border: 3px solid rgb(66, 46, 46);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.452),
                6px 6px 6px rgba(255, 254, 254, 0.452);
        
    color: rgb(66, 46, 46);
    background-color: #e6a51a;
    /* background-color: #ffeb3b; */

    /* outline: 2px solid tomato; */
}

.logo-footers img {
    /* display: block; */
    height: 100%;
    width: 70%;
    padding: 7%;
    
    /* outline: 2px solid rgb(25, 0, 255); */
}

.logo-footers:hover,
.logo-footers:focus {
    border: 3px solid rgb(255, 0, 0);
    background-color: #1ac7e6;
    color: rgb(255, 0, 0);
}

.logo-footers:active {
    border: 3px solid rgb(29, 90, 10);
    background-color: #5be61a;
    color: rgb(38, 78, 5);
}
/* _________________ К О Н Е Ц  ЛОГОТИП ФУТЕРА _________________ */




/* __________________  К О Н Е Ц Стилизации меню КОНСПЕКТ+АВТОПРОВЕРКИ _______________ */

/* ================================================================================== */









/* ======================= ЗАМЕНЫ ======================= */
/* main-link - nav */
/* main-link-list - nav-list */
/* ===================== КОНЕЦ ЗАМЕНЫ ==================== */




/* ======================= Стили главной страницы (index.html)======================= */

/* ======================= ДЕКОРАТИВНЫЙ ФОН главной страницы (index.html)======================= */

.section-main {
    /* display: flex; */
    padding-top: 10px;

    /* text-align: center; */

    /* background-color: rgb(240, 238, 157); */

    background-image: url("https://picsum.photos/640/480");
    /* background-image: url("https://cdn2.iconfinder.com/data/icons/avatars-60/5985/34-Father-512.png"); */
    background-repeat:  no-repeat;
    background-position: 50% 50%;
    
    /* background-size: auto; */
    /* background-size: 1200px;  */
    /* background-size: contain; */
    background-size: cover;

    /* opacity: 0.7; */
}
/* ___________________________  К О Н Е Ц ДЕКОРАТИВНЫЙ ФОН главной страницы  ________________________ */




/* ======================= Сдвиг LOGO вправо и вниз (index.html)======================= */
.logo-main {
    display: flex;
    
    width: 300px;
    height: 300px;

    /* margin-top: 20px; */
    margin-left: 30px;
    
    justify-content: flex-end;
    align-items: flex-end;

    /* padding: 0.5em; */
        /* padding-left: 50%; */

    /* outline: 2px solid tomato; */
}

.logo-main img {
    /* display: block; */
    height: 90%;
    width: 90%;
    padding: 14%;

    border: 2px solid var(--color-light);
    border-radius: 20%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.452), 
                6px 6px 6px rgba(255, 254, 254, 0.452);

    /* margin-left: auto; */
    
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: scale-down; */
    /* object-fit: none; */

    /* object-position: left bottom; */

    /* outline: 2px solid rgb(25, 0, 255); */
}
/* __________________  К О Н Е Ц Сдвиг LOGO вправо и вниз (index.html) _______________ */





/* ==== Цетрирование контента внутри ОСНОВНЫХ ССЫЛОК -(nav)  (index.html) ===== */
.container-main {
    text-align: center;
}

/* ==== flex-контейнер для ОСНОВНЫХ ССЫЛОК (index.html) ===== */
.nav-list {
    display: inline-block;
    /* text-align: center; */

    /* justify-content: center; */
}
/* ==== КНОПКА для ОСНОВНЫХ ССЫЛОК (index.html) ===== */
.nav-item {
    min-width: 200px;
    padding: 10px;

    font-weight: 700;
    font-size: 30px;

    border: 3px solid var(--color-font-secondary);
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background-color: var(--color-background-main);
    opacity: 0.5;

    /* outline: 2px solid tomato; */
}

.nav-item:not(:last-child) {
    margin-bottom: 10px;
}

.nav-item:hover,
.nav-item:focus {
    /* cursor: pointer; */
    /* text-decoration: underline; */

    border: 3px solid var(--color-font-main);

    background-color: tomato;
    color: white;
    
}

.nav-item:active {
    color: greenyellow;
}
/* ___________________  К О Н Е Ц контента внутри ОСНОВНЫХ ССЫЛОК -(nav) (index.html)  ________________ */








/* ========= Произвольная картинка от генератора ========= */
.random-picture {
    margin-left: 640px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* _________  К О Н Е Ц Произвольная картинка от генератора ______ */






/* _________________________  К О Н Е Ц Стили главной страницы (index.html) ______________________ */