body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5ebd7;
}

/* ***************************************************************/

.main-content {
    /* font-style: normal; */
    /* font-weight: 700; */
    /* font-size: 14px; */
    /* line-height: 17px; */
    /* background-color: rgb(39, 175, 130); */
    color: #360000;                                                                                                      
}

.h1_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 17px;
    color: #850505;
    /* margin-left: 400px; */
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ==== Произвольная картинка от генератора ==== */
.random-picture {
    margin-left: 640px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* ========ЛОГОТИП ФУТЕРА (logo-footer)======= */
.logo-footer {
    margin-left: 1700px;
    margin-top: 0px;
    /* margin-bottom: 30px; */
}

.h2_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #275833;

    /* margin-bottom: 20px; */
}

.h3_header-style {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; */
    color: #2535c2;

    /* margin-bottom: 20px; */

}

/* === КОНСПЕКТ + АВТОПРОВЕРКИ === */
.h01_header-style {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.67;
    color: #850505;
    /* margin-left: 400px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
}


.task-word, 
.accent_span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.21;
    color: #97172d;

    /* margin-bottom: 20px; */
}

/* =============== из К О Н С П Е К Т А =========== */

/* ============= Живой пример таблицы + CSS-разметка ============ */

/* Shift the heading text to the left, by default it is centered */
/* Сместите текст заголовка влево, по умолчанию он расположен по центру */
table caption {
    text-align: center;
}

/* We "collapse" the frames of adjacent cells */
/* "Сворачиваем"рамки соседних ячеек */
table {
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.2);
    margin: 3rem;
    font-family: sans-serif;
    border-collapse: collapse;
}
/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
/* Добавьте к ячейкам границу и отступы, расстояние от содержимого до границы. 
Для управления положением по вертикали используется свойство caption-side. */
table th,
table td {
    padding: 10px;
    border: 1px solid #2a2a2a;
}


/* =============== из А В Т О П Р О В Е Р К И  № 2 =========== */

/* ============= Мод_1 Task_2. Задание 5/5 Сверстай таблицу + CSS-разметка ============ */
caption {
    font-size: 20px;
    margin-bottom: 1rem;
}

thead {
    background-color: #555;
    color: #fff;
}

td,
th {
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    text-align: center;
}

td[colspan] {
    background-color: #eee;
}


/* ============= Мод_2 Task_2. Задание 1/12 ТЕКСТ: TEXT-INDENT = CSS-разметка ============ */








/* ========================== Тег <pre> ========================== */
pre {
    font: inherit;
}






/* ==================    ==================== */

.excerpt {
    /* Sets the border */
    border: 2px dashed #2196F3;

    /* Adds an inner padding */
    padding: 15px;

    /* Sets outer margins */
    margin: 20px;
}
