:root {
    /* ============ ПЕРЕМЕННЫЕ ЦВЕТА ============ */
    --color-font-main: #360000;
    --color-font-secondary: #2a2a2a;
    --color-font-footer: rgba(255, 255, 255, 0.6);
    /* =============================== */
    --color-background-main: #f5ebd7;
    --color-background-start: rgb(255, 219, 151);
    --color-background-end: rgb(117, 79, 8);
    /* =============================== */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    /* =============================== */
    --color-border-line: #ECECEC;
    --color-borders-portfolio: #EEEEEE;
    /* =============================== */
    --color-logo-links-hover: #2196F3;
    --color-button-hover: #188CE8;
    /* ========================================== */
}